type project
title
    FsSodium
owners
    Nikola Milekic
authors
    Nikola Milekic
projectUrl
    https://github.com/nikolamilekic/FsSodium
iconUrl
    https://raw.githubusercontent.com/nikolamilekic/FsSodium/master/docs/files/img/logo.png
licenseUrl
    https://github.com/nikolamilekic/FsSodium/blob/master/LICENSE.txt
requireLicenseAcceptance
    false
